/* basic styling */
:root {
  --bg-color: #f1f3f6;
  --header-bg-color: #2874f0;
  --header-color: white;
  --font-open-sans: "Open Sans", sans-serif;
  font-size: 62.5%;
  --font-muli: "Muli", sans-serif;
  --font-lato: "Lato", sans-serif;
}

.t-center {
  text-align: center;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: white;
  font-family: var(--font-open-sans);
  line-height: 1.6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-bg-color);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.68);
  height: 56px;
  z-index: 100;
}

.header_container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.icon {
  font-size: 60px;
  padding-left: 10px;
}

.icon a {
  text-decoration: none;
  color: white;
}

.hamburger {
  font-size: 40px;
  margin-left: auto;
  display: none;
  padding-right: 20px;
  cursor: pointer;
}

nav {
  display: flex;
  font-size: 2rem;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

#nav-bar a {
  color: white;
  text-decoration: none;
}

#nav-bar.open {
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 300px;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: space-around;
  top: 0;
  right: 0;
  z-index: 200;
  border: 4px dashed var(--header-bg-color);
  font-size: 3rem;
}

.nav-open {
  overflow: hidden;
}

#nav-bar.open a {
  color: black;
}

.close {
  padding: 0;
  color: black;
  display: none;
}

@media (max-width: 730px) {
  .hamburger {
    display: block;
  }

  #nav-bar {
    display: none;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 70px;
  color: black;
}

section {
  margin-bottom: 4rem;
}

section h2:first-child {
  font-size: 2.5rem;
  border-bottom: 1px solid var(--header-bg-color);
  padding-bottom: 10px;
  font-weight: 400;
  margin-bottom: 4rem;
  color: var(--header-bg-color);
}

.features__container {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.features__container:not(:last-child) {
  margin-bottom: 20px;
}

.features__container img {
  width: 50%;
}

.features__para {
  font-size: 2.5rem;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: var(--font-muli);
}

@media (max-width: 528px) {
  .features__container {
    flex-direction: column;
    border: 3px solid var(--header-bg-color);
  }
  .features__container img {
    width: 100%;
    height: 50%;
  }
  .features__para {
    width: 100%;
  }
}

@media (min-width: 798px) {
  .features__container {
    flex-direction: column;
    border: 3px solid var(--header-bg-color);
    float: left;
    width: calc(45%);
    margin-right: 5%;
  }
  .features__container img {
    width: 100%;
    height: 50%;
  }
  .features__para {
    width: 100%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
/* loader animation */
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 40px;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  animation: spin 2s linear 1s infinite;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* bookslist style */
.list {
  margin-bottom: 3rem;
}

.list_name {
  font-size: 2rem;
}

.list_gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 200px;
  grid-gap: 15px 20px;
  justify-content: center;
}

.list_image {
  width: 150px;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.list_item {
  display: flex;
  flex-direction: row;
  font-family: "Slabo 27px", serif;
  box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.38);
}

.list_item p {
  font-size: 1.6rem;
}
.list_item-right {
  padding-left: 10px;
  padding-right: 2px;
}

p.list_author {
  font-style: italic;
}
.list_title {
  font-weight: 900;
}

/* pricing */

.pricing_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing_item {
  height: 300px;
  max-width: 250px;
  width: 100%;
  padding: 2px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid var(--header-bg-color);
  margin-right: 5%;
  box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.38);
}

@media (max-width: 610px) {
  .pricing_item {
    margin: 0;
    margin-bottom: 2rem;
    max-width: 300px;
  }
}

.pricing_item .subscr-type {
  font-size: 3rem;
  font-weight: 400;
  color: var(--header-bg-color);
}
.pricing_item .price {
  font-size: 5rem;
  font-family: var(--font-lato);
  font-weight: 100;
}

.pricing_item .cancel-message {
  font-size: 1.5rem;
}

.price-button {
  padding: 15px 15px;
  background-color: var(--header-bg-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 150px;
  border-radius: 100px;
  border: 0;
  color: white;
  cursor: pointer;
}

/* video styles */

#video .video_item {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video_item .youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
